test.jpeg
test.png
.ipynb_checkpoints/
Rplots.pdf
rt.live.py
papermill.rt.live.ipynb
cdi-base-indicadores-2015*
R_hat_cen_oficial.rdat
R_hat_cen_coronamex.rdat
R_hat_coronamex.rdat
*.stan.rdat
mortality_logit.rdat
m.def.rdat
m.hosp.rdat
.Rproj.user
*.Rproj
.Rhistory
m1.rr_edad_mes.rdat
